<!-- forgotpassword-partial.html -->
<md-card id="partial-animation" class="commonContentShell md-whiteframe-12dp" layout="column" style="max-width:425px;margin: 0 auto" layout-align="start center">
	<section id="cygilContainer" layout="column" layout-align="center center">
		<img src="loginDuo.png"/>
	</section>
	<section id="formContainer" layout="column" layout-align="start start">
		<form name="forgotpasswordForm" ng-submit="submitForgotPasswordDetails()" autocomplete="off"> 	
			<md-input-container md-no-float class="md-block">
				<input required id="email" type="email" name="email" placeholder="registered email address" ng-model="forgotpassworddetails.email">
			</md-input-container>							
			<div class="md-actions" layout="column" layout-align="center center">
				<md-button class="md-raised md-primary" style="width:100%" type="submit"><span class="loginBtnLabel">reset password</span></md-button>
			</div>
		</form>
		<div class="secondaryAction" layout="column" layout-align="center center">
			<span ng-click="switchEntryView('signin')">go back?</span>
		</div>
	</section>
</md-card>